body {
  margin: 0;
  background-color: white;
}
.store-name {
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color:#323232;
    padding-top: 1px;
    padding-left: 20px;
    margin-bottom: 10px;
    float: left;
}

.nav-container{
  float: right;
  margin-top: 20px;
  }


.nav-link  {
  width: 100px;
  display: inline;
  padding-right: 20px;
  font-size: 0.9em;
  font-family: sans-serif;
}
.nav-link a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #323232;
  text-transform: uppercase;
  margin-bottom: 10px;
}

 h1 {
  color: #323232;
  text-align: center;
  font-size: 1.875em;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 80px;
}

.splash img {
   width: 100%;
}

h2 {
  font-family: sans-serif;
  font-size: 1.5em;
  color: #00897f;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.main {
font-family: sans-serif;
font-size: 1em;
line-height: 2em;
color: #323232;
text-align: center;
padding-top: 45px;
margin-left: 20%;
margin-right: 20%;
 }

div.main p {
  text-align: left;
}

.about {
 font-family: sans-serif;
 font-size: 0.875em;
 line-height: 1.75em;
 color: #323232;
 text-align: left;
 background-color: #eeeeee;
 width: 350px;
 padding: 30px;
 margin: 90px;
 display: inline-block;
}

.section {
  display: block;
  padding: 60px;
}

.cat {
  display: inline-block;
  padding-left: 85px;
}
.cat img {
  width: 100%;
  border-radius: 50%;
}

 .grey {
 background-color: #eeeeee;
}

 .info {
  width: 350px;
  margin: 100px;
  padding: 30px;
  display: inline-block;
  text-align: left;
  background-color: white;
  line-height: 2em;
  vertical-align: top;
}

.orange{
  font-family: 'PT Serif',serif;
  font-weight: bold;
  font-size: 1em;
  color: #f26522;
  display: inline-block;
  vertical-align: top;
}

.uppercase{
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.map img {
  width: 100%;
  display: block;
}

footer {
  display: block;
  background-color: #00897f;
  padding: 50px;

}

footer h3 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #eeeeee;
  text-align: center;

}



/* On devices smaller than 940px */
@media(max-width: 940px) {
  /* start mobile responsive here */
  .nav-container {
    visibility: hidden;
  }
.about {
  display:block;
  margin: 0;
  background-color: #eeeeee;
  background-size: cover;
  background-repeat: repeat;
  }

.section .cat .desktop{
  display: none;
}
.store-name {
  text-align: center;
}
.info {
  display: block;
  margin: 0;
  background-color: #eeeeee;
}
.div.grey {
  display: none;
  background-color: white;
}
.grey h1{
  display: none;
}

/* On devices smaller than 660px */
@media(max-width: 660px) {
}
